# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool as per https://blog.golang.org/cover
*.out

# npm
node_modules

# env configuration for docker
.env

# scripts and artifacts for dev testing
.dev

# project env var configuration
.envrc

# vim stuff
**/*.sw[nop]
