<html>
<head>
  <meta charset="utf-8">
  <title>Pin: {{.Title}}</title>
</head>
<body>
  {{if .Err}}
  <p class="pin-error">{{.Err}}</p>
  {{else}}
  <p class="pin-url">Pin URL: <a href="{{.URL}}">{{.URL}}</a></p>
  {{/* TODO: add a copy-to-clipboard button */}}
  {{end}}
  <p class="pin-title">{{.Title}}</p>
  <br>
  <p class="pin-note">{{.Note}}</p>
  <br>
  {{if .Attachments}}
  Attachments:<br>
  <ul>
    {{range $filename, $url := .FilenameToURL}}
    <li><a href={{$url}}>{{$filename}}</a></li>
    {{end}}
  </ul>
  {{end}}
</body>
</html>
